@charset "UTF-8";
* {

}

* {
    margin: 0;
    padding: 0;
}

#row {
    width: 1035px;
    margin: 0 auto;
}

.container{
	max-width: 1350px;
}

.box {
    float: left;
    width: 300px;
    margin: 0 21px;
}

.box img {
    width: 100%;
}

#box1{
	padding-top: 10px;
	padding-left: 50px;
	background-image: url("../img/project-company-img-1.jpg");
	background-repeat: no-repeat;
	height: 42px;
}

#box2{
	padding-top: 10px;
	padding-left: 50px;
	background-image: url("../img/project-company-img-2.jpg");
	background-repeat: no-repeat;
	height: 42px;
}

#box3{
	padding-top: 10px;
	padding-left: 50px;
	background-image: url("../img/project-company-img-3.jpg");
	background-repeat: no-repeat;
	height: 42px;
}

.clearfix:after {
    content: ".";
    /*.を出力*/
    display: block;
    clear: both;
    height: 0;
    /*出力した”.”を見えないように*/
    font-size: 0;
    /*fontが出てくることもないように*/
    visibility: hidden;
    /*見えないように*/
}


/* 文章系 */
h2.project-title{
	color: #24282A;
	font-size: 17px;
	line-height: 1.6;
	margin-bottom: 1px;
	font-weight: 600;
	padding: 18px 0 12px;
	-webkit-font-smoothing: antialiased;
	-moz-transition: all 0.3s ease false;
	-o-transition: all 0.3s ease false;
	transition: all 0.3s ease
}