html{
  margin: 0;
}

.main{
  width: 1035px;
  margin: 0 auto;
  overflow: hidden;
}

.top-header{
  width: 1035px;
  margin: 0 auto;
}

.top-title{
  font-size: 120%;
  color: #a9a9a9;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.company-img{
  width: 300px;
}

.company-name{
  position: relative;
}

.company-name span{
  position: absolute;
  top: 10px;
  left: 50px;
}

.company{
  width: 300px;
  padding: 40px 0;
  float: left;
  margin: 0 20px;
}

.company p{
  margin: 5px 0;
}

.company span{
  margin: 0;
}

.orange-tag{
  border: solid 1px #ffa500;
  color: #ffa500;
  border-radius: 3px;
  padding: 1px;
}

.new-tag{
  border: solid 1px #00ff00;
  color: #fff;
  background-color: #00ff00;
  border-radius: 3px;
  padding: 1px;
}
