.body {
    position: relative;
    width: 1035px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-weight: 600;
    color: #9DA0A4;
    font-size: 20px;
    margin: 82px 0 28px;
    -webkit-font-smoothing: antialiased;
}
.right_button {
    right: 30px;
    top: 50px;
    font-size: 16px;
    color: #00A4BB;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
}
.box {
    display: inline-block;
    width: 300px;
    height: 500px;
    margin: 20px;
}
.category {
    display: inline-block;
    color: #DAA520;
    font-size: 10px;
    border: 1px solid #DAA520;
    border-radius: 4px;
    vertical-align: middle;
    padding: 0 4px;
    height: 18px;
    line-height: 20px;
}
.box_title {
    color: #24282A;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 1px;
    font-weight: 600;
    padding: 18px 0 12px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease false;
}
.box_context{
        color: #6A6E71;
    line-height: 1.6;
    font-size: 13px;
    font-weight: 300;
    height: 70px;
}
.box_logo{
    
}
.logo {
    display: inline;
    position: relative;
}
.logo_name {
    display: inline;
    color: #6A6E71;
    font-weight: 600;
    bottom: 15;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    position: relative;
}
.box_img {
    width: 100%;
}